@model List<AccountingSoft.Web.ViewModels.Product.ProductViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Име
            </th>
            <th>
                Количество
            </th>
            <th>
                Единична цена
            </th>
            <th>
                Обща сума
            </th>
            <th>
                Клиент
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SinglePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.EIK)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductName">Edit</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
