@model List<AccountingSoft.Web.ViewModels.Client.ClientViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Всички клиенти</h1>

<p>
    <a asp-action="Create">Създай нов клиент</a>
</p>
<table class="table">
    <thead>
        <tr>            
            <th>
                Име
            </th>
            <th>
                ЕИК
            </th>
            <th>
                ДДС
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EIK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DDS)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> ||
                <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a> 
            </td>
        </tr>
}
    </tbody>
</table>
